<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Firefox + Shaka player bug - {{title or 'Index'}}</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {% block extra_styles %}
    {% endblock %}
  </head>
  <body>
    <div class="container text-center">
    {% if title is not none %}   
    <h1 class="title">{{title}}</h1>
    {% endif %}
    {% block content %}{% endblock %}
    </div>
  </body>
  {% block extra_js %}{% endblock %}
</html>